/*@import "node_modules/loaders.css/src/loaders";*/

.container {
  width: 100%;
  padding: 0px;
  margin-bottom: -5px;
  justify-content: center;
  position: relative;
}

.spinnerContainer {
	z-index:9999;
	position:absolute;
	left:0;
	top:0;
	right:0;
	bottom:0;
}
